@import "leaflet/dist/leaflet.css";
@import "esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


#map { 
    z-index: 1; /* Prevents map from overlapping headers */
    height: 400px; 
    width: 100%;
}

.leaflet-marker-icon {
    display: block !important;
}